$color-beige: #e7e3da;
$color-bg: $color-beige;

$color-white: #fff;
$color-black: #000;
$color-light-black: #212424;
$color-grey: #E7E3DA;
$color-light-grey: #8A847B;
$color-light-gold: #D7D0C0;
$color-gold: #B79163;
$color-hover-bg: #CCC3AF;
$color-hover-text: #A18460;
$color-input-border: #B0A99F;
$color-label: #979086;

$color-text: $color-white;
$color-bg-menu: $color-grey;
$color-text-menu: $color-light-black;
$color-text-submenu: $color-light-grey;
$color-btn-bg: $color-gold;